#image_box {
  width: 320px;
  height: 220px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

img {
  width: 280px;
  height: 200px;
}

